.dropdown-container{
  grid-area: Select;
}

.dropbtn {
 width: 240px;
  height: 32px;
	/* margin: 63px 114px 1px 150px; */
  padding: 5px 12px 5px 12px;
  border-radius: 4px;
  border: solid 1px #2e2e2e;
  background-color: #fff;
	cursor: pointer;
	user-select: none;
	position: relative;
}

.dropbtn img{
	margin-right: 5px;
}

.icon-arrow{
	position: absolute;
	right: 10px;
	top: 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
	margin-bottom:5%;
}

.dropdown-content {
    display: none;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
		cursor: pointer;
}

.dropdown-content img {
	margin-right: 5px;
}

.dropdown-content div:hover {
    background-color: #f1f1f1
}

.showMenu{
    display: block;
	  width: 240px;
		height: 150px;
		/* margin: 0 149px; */
		padding: 5px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 
        0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* TODO: Resonsive in different screen size */
/* @media screen and (max-width: 480px) { */
/* 	.dropbtn { */
/* 		margin: 63px 0px 1px 40%; */
/* 	} */
/* 	.dropdown-content { */
/* 		margin-left: 40%; */
/* 	} */
/*    */
/* } */
