* {
  box-sizing: border-box;
}

.body-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.8fr 0.9fr 0.6fr 1.1fr 1.2fr 1.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header Header Header"
    ". . Tabs . ."
    ". Select . . ."
    ". List List List ."
    ". List List List ."
    ". . Pages . .";
}

/* Media Queries for the grid layout under 900px */
@media screen and (max-width: 1000px) {
  .body-container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 0.4fr 0.2fr 1.1fr 1.2fr 1.4fr;
  }
}

@media screen and (max-width: 480px) {
  .body-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.3fr 0.1fr 1.1fr 1.2fr 1.4fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header"
      ". Tabs ."
      ". Select ."
      ". List ."
      ". Pages .";
  }
}
